html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.my-bg-photo {
  background: url('images/biocups.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.my-custom-container {
  position: relative;
  color: #5D4037; /* Updated color */
}

.nav-link.active {
  color: #795548 !important; /* Updated color */
}

.img-fluid {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.img-fluid:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.my-bg-photo * {
  position: relative;
  z-index: 10;
}

.my-bg-photo:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.65;
}

.my-custom-container {
  max-width: 800px;
}

.center-container {
  text-align: center;
}

.my-drawing {
  transition: all 0.33s ease-out;
}

.my-drawing:hover {
  transform: scale(1.054) rotate(15deg);
}

.nav-item a {
  color: #5D4037; /* Updated color */
  outline: none;
  text-decoration: none;
}

.btn.btn-lg.btn-success, 
.btn.btn-primary.btn-lg {
  background-color: #8D6E63; /* Updated color */
  border-color: #8D6E63; /* Updated color */
  margin-top: 20px;
}

.btn.btn-lg.btn-success:hover, 
.btn.btn-primary.btn-lg:hover {
  background-color: #6D4C41; /* Updated color */
  border-color: #6D4C41; /* Updated color */
}

.btn.btn-lg.btn-success:active, 
.btn.btn-lg.btn-success:focus,
.btn.btn-primary.btn-lg:active,
.btn.btn-primary.btn-lg:focus {
  outline: none;
  box-shadow: none; /* This removes the default box shadow applied by some CSS frameworks like Bootstrap on focus */
}

.btn {
  background-color: #8D6E63; /* Updated color */
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.btn:hover {
  color: #FFFFFF;
}

.btn-link:active, .btn-link:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

footer {
  background-color: #D7CCC8; /* Updated color */
  height: 200px;
  margin-left: 0;
  margin-right: 0;
}

.card-header {
  background-color: #8D6E63; /* Updated color */
  padding: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
